body {
  background-image: radial-gradient(circle, rgb(180, 196, 207), #3d9fc3);
}

  
    code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.form {
align-self: center;
}




/* Center the search component vertically and horizontally */
.citSearch {
  display: flex;
  align-self: center;

  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 50%;
}

.searchBut {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0, 50;
}
/* 
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; 
/* } */

.search-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #48494c;
  border-radius: 5px;
}

.search-form label {
  margin-bottom: 10px;
  
}

.search-form input {
  margin-bottom: 10px;
    text-align: center;

  padding: 5px;
  border: 1px solid #343333;
  border-radius: 3px;
}

.search-form button {
  padding: 10px;
  background-color: rgb(132, 132, 137);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.overview-button {
  padding: 6px 12px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.overview-button:hover {
  background-color: #45a049;
}
/* Additional styling for the search component */
#root {
  width: 80%; /* Adjust the width as needed */
justify-content: center;
}
 
.money-container {
  display: flex;
}

.money-card {
  flex: 2;
  margin-right: 20px;
}

.tables-container {
  flex: 1;


}

.citCard {
  /* display: flex; */
  /* align-items: center;*/
  text-align: left;

  justify-content: center; 
  width: 50%;
  margin: 0 auto; /* This will horizontally center the card */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 50px;
  background-color: whitesmoke;
}


.overCard {
  /* width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* margin: 15px; */
  /*display: flex;
  flex-direction: column;
  justify-content: center; 
  display: flex; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* align-items: center; */
}
/* Styling for the table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: whitesmoke;
}

/* Styling for table header */
thead {
  background-color: #f2f2f2;
}

/* Styling for table header cells */
th {
  padding: 12px;
  text-align: left;
  font-weight: bold;
}

/* Styling for table body cells */
td {
  padding: 10px;
  border: #343333;
  border-width: 3;
}

/* Styling for table rows on hover */
tbody tr:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
   }
   .card-text::after {
    font-weight: bold;
  }

.row.g-0 {
  margin-right: -10px;
  margin-left: -10px;
}

.col-md-8,
.col-md-4 {
  padding-right: 10px;
  padding-left: 10px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
 }
/* .search-container { */
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

} */

.search-form {
  width: 400px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

 */

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
